.line{
    width: 29px;
    padding: 2px 0;
    background-color: white;
    height: 3px;
    margin: 4px 2px;
}
.burger{
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
    display: none;
}
@media only screen and (max-width: 1068px){
    .nav-list{
        flex-direction: column;
        font-size: 21px;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.7s ease-out;
        height: 478px;
    }
    .burger{
        display: block;
    }
    .h-nav{
        height: 72px;
    }
    .v-class{
        opacity: 0;
    }
    .main-box{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .cards{
        flex-direction: column;
    }
    .about-team{
        flex-direction: column;
        justify-content: center;
    }
    .about-team img {
        height: auto;
        width: auto;
    }
    .background-fastselection{
        height: auto;
    }
    .firsthalf {
        width: 90%;
        text-align: center;
        margin-top: -13px;
    }
    .copyright {
        text-align: center;
    }
}